<?xml version="1.0" encoding="UTF-8"?>
<!-- 30초마다 설정 파일의 변경을 확인한다. 파일이 변경되면 다시 로딩한다 -->
<configuration scan="true" scanPeriod="30 seconds">
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>
    <springProperty name="LOGSTASH_URL" source="logging.logstash.url"/>
    <!-- CONSOLE appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="INFO_DEFAULT_FILE_APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/elk-test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/elk-test.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>172.16.28.221:50000</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <customFields>{"service": "elk-test"}</customFields>-->
<!--        </encoder>-->
<!--    </appender>-->

    <logger name="me.rockintuna" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="LOGSTASH"/>-->
        <appender-ref ref="INFO_DEFAULT_FILE_APPENDER"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>